.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5px 20px;
    border-radius: 1rem;
    background-color: rgb(106, 105, 105);
    box-shadow: 10px 10px 20px rgb(106, 105, 105);
}

.logo {
    font-family: cursive;
}

.nav-bar p {
    flex: .3;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    color: white;
    margin: 5px;
}

.nav-bar a {
    text-decoration: none;
    margin: auto 10px;
    padding: 10px;
    font-size: 24px;
    color: white;
    margin: 5px;
}

.nav-bar a:hover {
    background-color: white;
    color: black;
}