<div class="auth">
    <div class="login">
        <div class="left">
            <form #loginForm="ngForm" (submit)="submitLogin(loginForm.value)">
                <p>LOGIN</p>
                <p>How I get started Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                <div class="input">
                    <img src="../../../assets/user.svg" alt="">
                    <input name="username" ngModel type="text" placeholder="Enter phone or email">
                </div>
                <div class="input">
                    <img src="../../../assets/key.svg" alt="">
                    <input name="password" ngModel type="text" placeholder="Enter password">
                </div>
                <button type="submit">submit</button>
            </form>
        </div>
        <div class="right">
            <img src="https://img.freepik.com/free-photo/portrait-pleased-brunette-businesswoman-posing-studio_176420-29848.jpg?size=626&ext=jpg&ga=GA1.1.490331008.1712337873&semt=ais"
                alt="">
        </div>
    </div>
</div>