<nav class="nav">
    <img src="../../../assets/logo.svg" alt="">

    <div class="searchbar">
        <input type="text" placeholder="search...">
        <img src="../../../assets/search.svg" alt="">
    </div>

    <div class="elements">
        <ul>
            <li>Home</li>
            <li>Feed</li>
            <li>Write</li>
            <li>About</li>
            <li>Contact</li>
            <li>
                <div class="dropdown">
                    <p class="dropbtn">Profile</p>
                    <div class="dropdown-content">
            <li>
                <div class="dropdownitems">
                    <img src="../../../assets/settings.svg" alt="">
                    <p>Settings</p>
                </div>
            </li>
            <li>
                <div class="dropdownitems">
                    <img src="../../../assets/settings.svg" alt="">
                    <p>Settings</p>
                </div>
            </li>
            <li>
                <div class="dropdownitems">
                    <img src="../../../assets/settings.svg" alt="">
                    <p>Settings</p>
                </div>
            </li>
            <li>
                <div class="dropdownitems">
                    <img src="../../../assets/logout.svg" alt="">
                    <p>Logout</p>
                </div>
            </li>
    </div>
    </div>
    </li>
    </ul>
    </div>
</nav>