<div class="container">
    <p>Title Of the Blog</p>
    <div class="content-body">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis hic nam, incidunt, debitis ratione veniam
        deleniti expedita adipisci facere architecto beatae corrupti quia assumenda voluptas, necessitatibus eius
        perferendis odit commodi? Provident, vero! Ipsam cum adipisci quisquam ducimus quidem enim explicabo
        reprehenderit assumenda dignissimos. Id excepturi libero rem nihil voluptas similique. Voluptatibus dolor
        officiis nostrum vitae, dignissimos dolorem laudantium, culpa repudiandae, alias quaerat assumenda et minus
        cupiditate sed quod fugiat at asperiores id! Eligendi in corporis suscipit provident error vitae ipsum.
    </div>
    <app-content-footer></app-content-footer>
</div>