<div class="blog-container">
    <img src="https://images.unsplash.com/photo-1523800503107-5bc3ba2a6f81?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGNvZGluZ3xlbnwwfHwwfHx8MA%3D%3D" alt="">
    <div class="blog-details">
        <p class="blog-title">I sold my startup because of bugs: I wish I had this serverless repository!</p>
        <ul class="blog-tags">
            <li>android</li>
            <li>java</li>
            <li>frontend</li>
            <li>serverside</li>
        </ul>
        <div>
            <p>By :- username</p>
            <p>Published On : 18 Jan 2022</p>
        </div>
    </div>
</div>